<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <form [formGroup]='TodoForm'>
        <div class="form-group">
          <label>Nom</label>
          <input type="text" class="form-control" [formControl]='Nom'>
        </div>
       
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" [formControl]='Description'>
        </div>
     
        <div class="form-group">
          <label>Statu</label>
          <input type="NumberSiege" class="form-control" [formControl]='Statu'>
        </div>
       
       

        <button type="submit" class="btn btn-primary" (click)='onCreate()' [disabled]="carForm.invalid">Creer</button>
      </form>
      
     
    </div>
  </div>
</div>

